<a href="https://colab.research.google.com/github/NicolasNgo/INF-PROF2022/blob/main/Practical_Work_1_%5BCORRECTION%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Teaching Unit INF-PROF: Programming fundamentals for health data**
Nicolas NGO, Raquel URENA

## **Practical work 1 - Introduction to Python**
### Learning objectives:

  1. Manipulate different Python datatypes
  2. Use some conditional statements 
  3. Programmation of basics functions
  4. Use some looping structure

# **1. Python datatypes**

## **Strings**


For this pratical session, we will see basic datatypes of Python and how to manipulate them. The first datatype that we will see is the Strings. 

#### **Strings creation**
You can create a string by assigning to a variable any character between double quotes ("") or single quotes (''). 

```
my_string = 'abc'
my_string = "abc"
my_string = "I'm Nicolas Ngo"
```

You can also create a string with the function `str()` on any character.

```
my_string = str(123)
my_string
```

#### **Strings concatenation**
You can merge two strings to create a single one with the '+' symbol

```
first_string = 'abc'
second_string = 'def'
third_string = first_string + second_string
print(third_string)
```

#### **Strings slicing**
You can access each element of a string with a slicing (my_string[ ]). 

```
my_string = 'abc'
my_string[0]
```

#### **Strings substitution**
Use the print to display the value of a variable. 

```
my_string = 'Marseille'
print('The first letter of my string is %s' % my_string[0])
my_string = 'Paris'
print('The first letter of my string is %s' % my_string[0])
```

#### **Strings methods**
Many methods are available for the str class. You can check them by using the dir function or search for them in the Python documentation [Python documentation](https://docs.python.org/3/library/stdtypes.html#textseq)

### **Exercise 1.1 - Try to guess what these statements will do**

In [ ]:
my_string = "It's an introduction class"

1. ```print(my_string[4:6])```
2. ```print(my_string[2:])```
3. ```print(my_string[0:-5])```
4. ```print(my_string[:])```

### **Correction exercise 1.1**

1. " a" 
2. "'s an introduction class"
3. "It's an introduction "
4. "It's an introduction class"


---

### **Exercise 1.2 - Text analysis**


Consider the following text:

*Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator and pohar-perme estimator in, respectively, the setting of overall and net survival (the survival that would be observed, in a hypothetical world, where the disease of interest would be the only possible cause of death).*

1. Assign the text to a string variable. 
2. Use a method to count how many time the word 'of' is used in the text. 
3. 'pohar perme' is actually the name of a researcher, so the first letter should be a capital P. Use the capitalize and replace method to correct your string.

### **Correction exercise 1.2**

In [ ]:
# First task
my_string = 'Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator and pohar-perme estimator in, respectively, the setting of overall and net survival (the survival that would be observed, in a hypothetical world, where the disease of interest would be the only possible cause of death).'

# Second task
print('The word of is used %s times' % my_string.count('of'))

# Third task 
my_string = my_string.replace('pohar-perme', 'pohar-perme'.capitalize())
print(my_string)

The word of is used 4 times
Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator and Pohar-perme estimator in, respectively, the setting of overall and net survival (the survival that would be observed, in a hypothetical world, where the disease of interest would be the only possible cause of death).

## **Lists**



A list is a collection of items in Python. It can be change after it's creation (assign a new value to an element of the list). 

#### **List creation**
You can create a list by using brackets ([ ]) or by using the `list()` function. 

``` 
my_list = [1, 2, 3]
my_list = list('123')
```

#### **List concatenation**
You can concatenate lists with the '+' operator or by using specific method `extend()`.  

```
first_list = list('abc')
second_list = list('567')
my_list.extend(second_list)
first_list
['a', 'b', 'c', '5', '6', '7']
```

To add a single element at the end of the list you can use the `append()` method. 

To add a single element at any specific position in the list you can use the `insert()` method.

#### **Accessing and changing list element**
Following the same logic of the strings slicing you can access element of the list with the '[ ]'. But with the list you can also change the value at the specific index. 

```
my_list = [1, 2, 3, 4]
my_list[0] = 'A'
print(my_list)
['A', 2, 3, 4]
```

#### **Removing values**
You can use the `remove()` method to remove a specific element of the list. 


#### **List documentation**
You can see [here](https://docs.python.org/3/tutorial/datastructures.html) the Python documentation for the list object.

### **Exercise 1.3 - Sort lists**

With the following list execute the these tasks:
1. Create two lists, one for the names and one for the values.
2. Sort all values by decreasing order and display the 3 smallest values.
3. Display the mean value of the list of values.
4. Sort all names by alphabetical order. Display the first 3 names.
5. Replace the second name of the sorted list by 'Djibril'.

```
my_list = ['Jean', 5, 'Matthieu', 'Ismael', 3, 7, 1, 'Jose', 15, 9, 'Zacchary', 2,'Gabriel', 'Aristide']

```

### **Correction exercise 1.3**

In [ ]:
my_list = ['Jean', 5, 'Matthieu', 'Ismael', 3, 7, 1, 'Jose', 15, 9, 'Zacchary', 2,'Gabriel', 'Aristide']

# First task
list_of_strings = ['Jean', 'Matthieu', 'Ismael', 'Jose', 'Zacchary', 'Boris', 'Aristide']
list_of_values = [5, 3, 7, 1, 15, 9, 2]

In [ ]:
# Second task 
list_of_values.sort(reverse = True)
print('The 3 smallest values are ', list_of_values[-3:])

The 3 smallest values are  [3, 2, 1]

In [ ]:
# Third task
mean_value = sum(list_of_values)/len(list_of_values)
print('The mean value is %d' % mean_value)

The mean value is 6

In [ ]:
# Fourth task
list_of_strings.sort(reverse = False)
print('The first 3 names are', list_of_strings[:3])

The first 3 names are ['Aristide', 'Boris', 'Ismael']

In [ ]:
# Fith task
list_of_strings[1] = 'Djibril'
list_of_strings

['Aristide', 'Djibril', 'Ismael', 'Jean', 'Jose', 'Matthieu', 'Zacchary']

In [ ]:
help(sum())

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

## **Dictionary**



Dictionary is a Python collection type object. In the dictionaries the values are being indexed by specific unique values which are called *keys*. 

#### **Creation of dictionary**
There are many ways to create a dictionary. The first one is to use the curly bracket ('{') with separated by commas the couples `key:value`.

```
my_dict = {'Name': ['Paul', 'Marie', 'Jean'], 
            'Age': [26, 35],
            'City': ['Marseille', 'Paris', 'Lyon', 'Lamentin']}
```

Or you can use the constructor `dict()` 

```
my_dict = dict({'5': ['cinq', 'V', 'five']})
``` 

#### **Accessing a value**
In a dictionary you can acces a value by using the specific key that is associated to this value (just like an index in the list).

```
my_dict = {'Name': 'Nora', 'Age':25}
my_dict['Name']
'Nora'
```

#### **Adding a new key:value**
You can add a key:value pair to your dictionary 

```
my_dict['City'] = 'Marseille'
my_dict
```

#### **Modify key:value pair**
You can modify an already existing value associated to a key.

```
my_dict['Age'] = 26
my_dict
```

#### **Delete a key:value pair**
You can delete a key:value pair with the keyword `del`

```
del my_dict['City']
my_dict
```

#### **Some methods**
To access all the keys of a dict `my_dict.keys()`. The method `get()` returns the value of a specified key.

### **Exercise 4 - Manipulation of a dictionary**

We want to store into a dictionary the names of the patients that are assign to a treatment and control group. 

Control: Jean, Marie, Paul, Joseph, Iyeka

Treatment: Mike, Alain, Adiba

1. Create a dictionary with two keys (one for each group) and store the names of the patients as values of the corresponding keys. 
2. Which group has more patients (use Python functions to answer)
3. A new patient has been assign to the treatment group. Add her name to the list (Dorine)
4. We want to add a new treatment group, change the 'Treatment' key name to 'Treatment A' and add the new key 'Treatment B' with the names:
  Aaren, Loris, Celio, Aymerik, Montout
5. Give the total number of patients. 

In the last task, you can use a for loops.

### **Correction exercise 4**

In [ ]:
# First task

my_dict = dict({
  'Control':['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
  'Treatment':['Mike', 'Alain', 'Adiba']  
})

my_dict

{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
 'Treatment': ['Mike', 'Alain', 'Adiba']}

In [ ]:
# Second task

# If we use the max function it will return the maximum value of the keys hence Treatment, because it is the longest string
print('Using max with default key argument: %s' % max(my_dict))

# We need to use a lambda function
res = max(my_dict, key = lambda x: len(my_dict.get(x)))
print('Using max function with the appropriate key argument: %s' % res)

Using max with default key argument: Treatment
Using max function with the appropriate key argument: Control

In [ ]:
# Third task

# The get method returns a list in this case so we can use list method to add this new value to the dictionary
print('Type of the output: %s' % type(my_dict.get('Treatment')))
print('Output %s' % my_dict.get('Treatment'))

Type of the output: <class 'list'>
Output ['Mike', 'Alain', 'Adiba']

In [ ]:
# Third task
my_dict.get('Treatment').append('Dorine')
my_dict

{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
 'Treatment': ['Mike', 'Alain', 'Adiba', 'Dorine']}

In [ ]:
# Third task - with the update method

my_dict = dict({
  'Control':['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
  'Treatment':['Mike', 'Alain', 'Adiba']  
})

print(my_dict)
value_treatment = my_dict.get('Treatment')
value_treatment.append('Dorine')

my_dict.update({'Treatment':value_treatment}) 
print(my_dict)

{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'], 'Treatment': ['Mike', 'Alain', 'Adiba']}
{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'], 'Treatment': ['Mike', 'Alain', 'Adiba', 'Dorine']}

In [ ]:
# Fourth task
# Rename a key

# The pop method returns the values of the key in argument and delete both key and values
# my_dict.pop('Treatment')
# ['Mike', 'Alain', 'Adiba', 'Dorine']

my_dict['Treatment A'] = my_dict.pop('Treatment')
my_dict

{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
 'Treatment A': ['Mike', 'Alain', 'Adiba', 'Dorine']}

In [ ]:
value = 2.86489215121
print('Value = %f' % value)
print('Value = %.f' % value)
print('Value = %.1f' % value)
print('Value = %.4f' % value)
print('Value = %d' % value) # Here the value is converted into an int automatically
print('Value = %s' % value) # Here the value is converted into a string automatically

Value = 2.864892
Value = 3
Value = 2.9
Value = 2.8649
Value = 2
Value = 2.86489215121

In [ ]:
)

Value = 2.86489215121 and the rounded value = 2

In [ ]:
# Add the new key 
my_dict.update({'Treatment B':['Aaren', 'Loris', 'Celio', 'Aymerik', 'Montout']})
my_dict

{'Control': ['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'],
 'Treatment A': ['Mike', 'Alain', 'Adiba', 'Dorine'],
 'Treatment B': ['Aaren', 'Loris', 'Celio', 'Aymerik', 'Montout']}

In [ ]:
# Fith task

# Give the number of keys
print('Number of keys: %d' % len(my_dict))

# Values of the dictionary
print('my_dict.values() %s' %my_dict.values())

Number of keys: 3
my_dict.values() dict_values([['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'], ['Mike', 'Alain', 'Adiba', 'Dorine'], ['Aaren', 'Loris', 'Celio', 'Aymerik', 'Montout']])

In [ ]:
# Give the number of keys
print(f'Number of keys: {len(my_dict)}')

# Value of the dictionary
print(f'my_dict.values {my_dict.values()}')

Number of keys: 3
my_dict.values dict_values([['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'], ['Mike', 'Alain', 'Adiba', 'Dorine'], ['Aaren', 'Loris', 'Celio', 'Aymerik', 'Montout']])

In [ ]:
for x in my_dict.values():
  print('%s is of length: %s' % (x, len(x)))

['Jean', 'Marie', 'Paul', 'Joseph', 'Iyeka'] is of length: 5
['Mike', 'Alain', 'Adiba', 'Dorine'] is of length: 4
['Aaren', 'Loris', 'Celio', 'Aymerik', 'Montout'] is of length: 5

In [ ]:
number_of_patients = 0
for group in my_dict.values():
  number_of_patients = number_of_patients + len(group)
  print(number_of_patients)

print('In total %d patients' % number_of_patients)

5
9
14
In total 14 patients

In [ ]:
# Another way by using keys

for x in my_dict:
  print(x)

Control
Treatment A
Treatment B

In [ ]:
for x in my_dict:
  print(len(my_dict[x]))

5
4
5

In [ ]:
number_of_patients = 0

for x in my_dict:
  number_of_patients += len(my_dict[x])

print('In total %d patients' % number_of_patients)

In total 14 patients

# **2. Conditional statement and loops**

### **Exercise 2.1 - Categorisation**

You received a list of age values, you want to discretize them into 15 years categories, write a program that will do so. 
The result should be a list of string in the same order as the age list but with the categorie as values. Let's assume that the first category will start at 0 and goes to 15 (not included) and will be named `'[0;15)'`. The second will be `'[15;30)'` until the last one `[75;90]`.
```
ages = [8, 15, 12, 23, 69, 87, 45, 52, 36, 48, 20, 18, 19, 35, 22, 74, 21, 63, 88, 14, 25, 42, 27, 58]
```

### **Correction exercise 2.1**

In [ ]:
# First thing is to assign the list to a list object
ages = [8, 15, 12, 23, 69, 87, 45, 52, 36, 48, 20, 18, 19, 35, 22, 74, 21, 63, 88, 14, 25, 42, 27, 58]

# Then we initialize an empty list that will store the categorized value of the ages
ages_cat = list()

# We iterate over the values of the list ages and go down though different if statements
for age in ages:
  if age < 15:
    ages_cat.append('[0;15)')
  elif age >= 15 and age < 30:
    ages_cat.append('[15;30)')
  elif age >= 30 and age < 45:
    ages_cat.append('[30;45)')
  elif age >= 45 and age < 60:
    ages_cat.append('[45;60)')
  elif age >= 60 and age < 75:
    ages_cat.append('[60;75)')
  elif age >= 75 and age <= 90:
    ages_cat.append('[75;90]')
  else:
    print('Age was in no category')

print('Continuous ages %s'% ages)
print('Discretized ages %s ' % ages_cat)

Continuous ages [8, 15, 12, 23, 69, 87, 45, 52, 36, 48, 20, 18, 19, 35, 22, 74, 21, 63, 88, 14, 25, 42, 27, 58]
Discretized ages ['[0;15)', '[15;30)', '[0;15)', '[15;30)', '[60;75)', '[75;90]', '[45;60)', '[45;60)', '[30;45)', '[45;60)', '[15;30)', '[15;30)', '[15;30)', '[30;45)', '[15;30)', '[60;75)', '[15;30)', '[60;75)', '[75;90]', '[0;15)', '[15;30)', '[30;45)', '[15;30)', '[45;60)']



---


### **Exercise 2.2 - Frequency dictionary**


From the previous exercise, use a for loop to store in a dictionary how many times each category is present in the discretised version of ages. 
Sort the dictionary with regard to the frequency in decreasing order.
Which category has the maximum number of observation ? 
Which category has the minimum number of observation ?

### **Correction exercise 2.2**

In [ ]:
ages = [8, 15, 12, 23, 69, 87, 45, 52, 36, 48, 20, 18, 19, 35, 22, 74, 21, 63, 88, 14, 25, 42, 27, 58]

# Then we initialize an empty list that will store the categorized value of the ages
ages_cat = list()

# We iterate over the values of the list ages and go down though different if statements
for age in ages:
  if age < 15:
    ages_cat.append('[0;15)')
  elif age >= 15 and age < 30:
    ages_cat.append('[15;30)')
  elif age >= 30 and age < 45:
    ages_cat.append('[30;45)')
  elif age >= 45 and age < 60:
    ages_cat.append('[45;60)')
  elif age >= 60 and age < 75:
    ages_cat.append('[60;75)')
  elif age >= 75 and age <= 90:
    ages_cat.append('[75;90]')
  else:
    print('Age was in no category')

print('Continuous ages %s'% ages)
print('Discretized ages %s ' % ages_cat)

# We create an empty dictionary that will store the values 
my_dict = dict()
for k in ages_cat:
  
  # We check if the key already exist
  if k in my_dict.keys():
    my_dict[k] = my_dict[k]+1
  else:
    my_dict[k] = 1

print('Frequency: ', my_dict)

Continuous ages [8, 15, 12, 23, 69, 87, 45, 52, 36, 48, 20, 18, 19, 35, 22, 74, 21, 63, 88, 14, 25, 42, 27, 58]
Discretized ages ['[0;15)', '[15;30)', '[0;15)', '[15;30)', '[60;75)', '[75;90]', '[45;60)', '[45;60)', '[30;45)', '[45;60)', '[15;30)', '[15;30)', '[15;30)', '[30;45)', '[15;30)', '[60;75)', '[15;30)', '[60;75)', '[75;90]', '[0;15)', '[15;30)', '[30;45)', '[15;30)', '[45;60)']
Frequency:  {'[0;15)': 3, '[15;30)': 9, '[60;75)': 3, '[75;90]': 2, '[45;60)': 4, '[30;45)': 3}

In [ ]:
# Sorted keys by decreasing ordere
print('The sorted category by frequency order :', sorted(my_dict, key = lambda x: my_dict.get(x), reverse = True))

The sorted category by frequency order : ['[15;30)', '[45;60)', '[0;15)', '[60;75)', '[30;45)', '[75;90]']

In [ ]:
# Which category has the maximum number of observations ?
print('The category with the maximum number of observations is %s with %d observations' % (max(my_dict, key = my_dict.get), my_dict.get(max(my_dict, key = my_dict.get))))

# Which category has the minimum number of observations ? 
print('The categroy with the minimum number of observations is %s with %d observations' % (min(my_dict, key = my_dict.get), my_dict.get(min(my_dict, key = my_dict.get))))

The category with the maximum number of observations is [15;30) with 9 observations
The categroy with the minimum number of observations is [75;90] with 2 observations

---
### **Exercise 2.3 - Estimation of $\pi $**

To approximate the value of $\pi$ many methods are available. One of them was found by the indian mathematician Madhava de Sangamagrama around 1400. He used an infinite serie to compute an approximation of $\pi$. The formula that he used is the following:

$
\tilde{\pi}_{Madhava} = \sqrt{12}\sum_{k = 0}^{\infty}{\frac{(-1)^k}{(3k+1)3^k}}
$

Use the above formula to compute an approximation of $\pi$ with a while loop. The desired precision is at least 15 decimals of $\pi$.

*Hint*: You can use the following command to have a reference value of $\pi$




```
import math
math.pi
```

### **Correction exercise 2.3**

In [ ]:
# With a for loop nested 

import math

pi_madhava = 0

k = 1

while(abs(math.pi - pi_madhava) > 1e-15):
  res = 0
  for i in range(0, k):
    res += ((-1)**i)/((2*i+1)*(3**i))
  pi_madhava = ((12)**(1/2))*res
  k += 1

print('Approximation:', pi_madhava)
print('Real value:', math.pi)
print('Difference:', abs(math.pi - pi_madhava))
print('Iteration =', k-1)

Approximation: 3.141592653589794
Real value: 3.141592653589793
Difference: 8.881784197001252e-16
Iteration = 29

In [ ]:
pi_madhava = 0
k = 0

while(abs(math.pi - pi_madhava) > 1e-15):
  if k == 0:
    frac = 1
  else:
    frac += ((-1)**k)/((2*k+1)*(3**k))
  pi_madhava = (12**(1/2))*frac
  k += 1

print('Approximation:', pi_madhava)
print('Real value:', math.pi)
print('Difference:', abs(math.pi - pi_madhava))
print('Iteration =', k)

Approximation: 3.141592653589794
Real value: 3.141592653589793
Difference: 8.881784197001252e-16
Iteration = 29

# **3. Functions**

## **Exercise 3.1**

Write a Python function to convert temperature units from Celius units (°C) to Fahrenheit (°F) or from Celius units to Fahrenheit. For this exercise you have to write a single function that is able to do both conversion.

## **Correction exercise 3.1**

In [ ]:
def convert(temperature, desired_unit= 'C'):
  if desired_unit == 'C':
    res = (5/9)*(temperature - 32.0)
  elif desired_unit == 'F':
    res = (9/5)*temperature + 32.0
  else:
    print('The desired unit is not implemented')
    return
  return res

convert(40, 'F')

104.0



---

## **Exercise 3.2 - Utility function**

Write a Python function that take a string as an argument and returns the list of all unique elements of the string. 



```
my_string = 'Nullam tempus scelerisque purus, sed mattis elit condimentum nec. Cras vel elit sed mi placerat pharetra eget vel odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies malesuada quam. Cras vel elit sed mi placerat pharetra eget vel odio. Duis ac nulla varius diam ultrices rutrum. Cras erat dui, finibus vel lectus ac, pharetra dictum odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam tempus scelerisque purus, sed mattis elit condimentum nec. Duis ac nulla varius diam ultrices rutrum. Etiam risus sapien, auctor eu volutpat sit amet, porta in nunc. Quisque vitae varius ex, eu volutpat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae varius ex, eu volutpat orci. Proin ipsum purus, laoreet quis dictum a, laoreet sed ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae varius ex, eu volutpat orci.'

```

## **Correction exercise 3.2**

In [ ]:
# For this exercise we have a few solutions

# First
# Create a dictionary from the string with each element of the string being a key to the dictionary. 
# Each time we encounter a duplicate it will not create a new key and then returns the list of keys.

def unique_dictionary(string_argument):
  my_dict = dict()
  for k in string_argument:
    my_dict[k] = 1
  return list(my_dict.keys())


 
unique_dictionary(my_string)

list

In [ ]:
# Second 
# Use the set datatype in Python. It is a immutable list that do not accept duplicates

def unique_set(string_argument):
  return list(set(string_argument))

unique_set(my_string)

[',',
 'q',
 'v',
 'l',
 'E',
 's',
 'o',
 'p',
 'c',
 'I',
 'g',
 'd',
 'e',
 ' ',
 '.',
 'D',
 'x',
 'f',
 'r',
 'N',
 't',
 'C',
 'i',
 'P',
 'm',
 'b',
 'u',
 'h',
 'n',
 'L',
 'a',
 'Q']

In [ ]:
# Third 

def unique_ifelse(string_argument):
  list_of_unique_element = list()
  for k in string_argument:
    if k not in list_of_unique_element:
      list_of_unique_element.append(k)
    else:
      pass
  return list_of_unique_element

unique_ifelse(my_string)

['N',
 'u',
 'l',
 'a',
 'm',
 ' ',
 't',
 'e',
 'p',
 's',
 'c',
 'r',
 'i',
 'q',
 ',',
 'd',
 'o',
 'n',
 '.',
 'C',
 'v',
 'h',
 'g',
 'P',
 'b',
 'f',
 'L',
 'I',
 'D',
 'E',
 'Q',
 'x']

# **4. Bonus Comprehension**

There's a way to create list or dictionary with a for loops in a single lines. It is by embedding the for loops inside brackets for instance (to create a list).
For instance to create a list of elements from 0 to 10

In [ ]:
my_list = [i for i in range(0, 11)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can have more complexe comprehension. For instance, you can return the result of some operation into the list.

In [ ]:
my_list = [i**2 for i in range(0, 11)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Or even have some conditions.

In [ ]:
my_list = [i for i in range(0, 11) if i < 5]
my_list

[0, 1, 2, 3, 4]

## **Exercise 4.1 - List comprehension**

Given the following string, write a single line of code that returns a list with the length of every word in the string. 
*Hint*: The string method `split()` can be used in this exercise.

**Sentence:** "All animals are equal but some animals are more equal than others." (Quotes from Animal Farm - ORWELL, GEORGE).

## **Correction exercise 4.1**

In [ ]:
my_string = "All animals are equal but some animals are more equal than others."

result = [len(word) for word in my_string.split()]
print(result)

[3, 7, 3, 5, 3, 4, 7, 3, 4, 5, 4, 7]